*{
   margin:0;
   padding: 0;
   box-sizing: border-box;
        }



/* Textos */

@font-face {
        font-family:'letrasofia-regular.otf';
        src: url(./FUENTES/letrasofia-regular.otf);
        font-weight: normal;
        font-style: normal;
      }

 @font-face {
        font-family:'Vercetti-Regular.ttf';
        src: url(./FUENTES/Vercetti-Regular.ttf);
        font-weight: normal;
        font-style: normal;
      }
  

p {font-family:'Vercetti-Regular.ttf';
        font-size: 18px;
}

h1    {font-family: 'letrasofia-regular.otf', serif;
        font-size: 60px;
        color: rgba(255, 251, 251, 0.788);
}

h2 {font-family: 'letrasofia-regular.otf', serif;
        font-size: 60px;
        color: brown;
}

h3 {font-family: 'letrasofia-regular.otf', serif;
        font-size: 60px;
        color: brown;
}

ul {font-family: 'Vercetti-Regular.ttf';
        font-size: 18px;
        list-style: none;
}

footer p
{font-family:'Vercetti-Regular.ttf';
        font-size: 10px;

}

footer a
{font-family:'Vercetti-Regular.ttf';
        font-size: 10px;
        color: brown;
        text-decoration: none;

}

.nav 
{font-family: 'letrasofia-regular.otf', serif;
        font-size: 45px;
        color: brown;
}


.nav a
{font-family: 'letrasofia-regular.otf', serif;
        font-size: 45px;
        color: brown;
}

.nav-fondo a
{font-family: 'letrasofia-regular.otf', serif;
        font-size: 45px;
        color: rgba(255, 251, 251, 0.788);
  
}

a {text-decoration: none; 
      }



      /* página films */

#films 
{text-align: center;
  
}

#films ul {font-family:'Vercetti-Regular.ttf';
        font-size: 18px;


    }


    /* página bio */
    
.residencias
{width: 300px;
        height: 300px;
        position: absolute;
        
        right: 30%; 
        top: 10%; 
        }
.formacion
{width: 300px;
        height: 300px;
        position: absolute;
                 
        right: 50%; 
        bottom: 1%; 
        }
.bio
{width: 600px;
        height: 300px;
        position: absolute;
                         
        right: 50%; 
        top: 10%; 
        }

.residencias 
        {font-family:'Vercetti-Regular.ttf';
        font-size: 18px;
        }
    
.formacion 
        {font-family:'Vercetti-Regular.ttf';
        font-size: 18px;
        }  

.premios 
        {font-family:'Vercetti-Regular.ttf';
        font-size: 18px;
        }   

.foto1bio
{width: 18.1875rem; 
        height: 10.25rem; 
       }

.foto2bio 
{width: 11.3125rem; 
        height: 7.5625rem; 
        }

.foto3bio 
{width: 13.125rem; 
        height: auto; 
        }
.foto4bio 
{width: 13.125rem; 
        height: auto; 
        }

.foto5bio 
{width: auto; 
        height: 10.25rem; 
        }



    /* página home */

.fondo
{width: 300px;
height: 300px;
position: absolute;

right: 20px; 
  top: 50%; 
}

    /* página romper/*

  /*  .info
{width: 600px;
height: 600px;
position: absolute;
background-color: rgba(250, 235, 215, 0.836);
padding: 20px;

right: 400px; 
top:70px ;
      }/*



/* Imágenes */

.fotos-cortos {
        width: 26.1875rem;
        height: 14.75rem;
}

.romperhome {
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            object-fit: cover; 
            z-index: -1; 
          }
.logo {
        width: auto;
        height: 30px;
}